.shopcategory-banner {
  display: block;
  margin: 30px auto;
  width: 82%;
}
.shopcategory-indexSort {
  display: flex;
  margin: 0 170px;
  justify-content: space-between;
  align-items: center;

}
.shopcategory-sort{
  padding: 10px 20px;
  border-radius: 40px;
  border: 1px solid #888;
}
.shopcategory-indexSort p span {
  font-weight: 600;

}
.shopcategory-products {
  margin: 20px 170px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 80px;

}
.shopcategory-lodmore {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 150px auto;
  width: 233px;
  height: 69px;
  background: #ededed;
  color: #524f4f;
  font-size: 18px;
  font-weight:  500px;
  border-radius: 75px;
}
@media (max-width:1280px) {
  .shopcategory-banner{
    margin: 20px auto;
    width: 90%;

  }
  .shopcategory-indexSort{
    width: 90%;
    margin: auto;

  }
  .shopcategory-sort{
    font-size: 12px;
    padding: 5px 10px;
  }
  .shopcategory-indexSort p {
    font-size: 12px;
  }
  .shopcategory-products{
    width: 90%;
    margin: 20px auto;
    margin-left: 74px;
    row-gap: 40px;
  }
  .shopcategory-products.items{
    margin: auto;

  }
  .shopcategory-lodmore{
    align-items: center;
    margin: 100px auto;
    height: 60px;
    width: 200px;
    font-size: 16px;
  }
  
}
@media(max-width:800px){
  .shopcategory-banner{
    width: 95%;

  }
  .shopcategory-products{
    margin-left: 46px;
    width: 95%;
  }
.shopcategory-loadmore{
  width: 150px;
  height: 40px;
  font-size: 13px;
  margin: 60px auto;
}
}
@media (max-width:500px) {
  .shopcategory-products{
    grid-template-columns: 1fr 1fr;
  }
  
}